
.dash-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px 0
    rgba(0,0,0,0.1), 0 6px 6px 0
    rgba(0,0,0,.2);
}

.dash-icon {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.dash-logout {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    color: white; 
    text-decoration: none;
}

.img-icon {
    margin: 10px;
}