.login-back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 500px;
    min-width: 600px;
    background: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
}

.helo-box {
    display: flex;
    flex-direction: column;
    width: 496px;
    height: 392px;
    background: linear-gradient(128deg,rgba(64,61,57,.1),hsla(0,0%,100%,.2));
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26)
}

.helo-img {
    width: 120px;
    margin-top: 34px;
}

.helo-top-half {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.helo-text {
    font-weight: 700;
    margin-top: 10px;
    font-size: 100px;
    color: white;
}

.helo-bot-half {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 3px;
    height: 45px;
    background-color: #403d39;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}